
<template>
<!--
<v-container fluid grid-list-md>
    <v-toolbar flat color="white">
        <v-toolbar-title>Lista en espera</v-toolbar-title>
            <v-divider  class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field class="text-xs-center"  v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
            <v-spacer></v-spacer>
            <v-btn   v-if="verNuevo==0" @click="mostrarNuevo"  color="primary" dark class="mb-2">Nuevo</v-btn>
    </v-toolbar>
    <v-divider ></v-divider>
    <v-data-iterator :items="itemsdata" :search="search" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination" content-tag="v-layout" row wrap>
        <template  v-slot:item="props">
            <v-flex xs12 sm6 md4 lg3>
                <v-hover>
                    <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">
                        <v-img class="white--text" height="200px" src="https://www.lostiempos.com/sites/default/files/media_imagen/2019/4/5/756785e2-6ea8-430e-a479-24a7d6d74b74.jpg">
                            <v-container fill-height fluid>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <template v-if="props.item.criticidad==='A'">
                                            <div class="headline"> 
                                                <span class="red--text">{{props.item.criticidad}}</span>
                                                </div>
                                        </template>
                                        <template v-if="props.item.criticidad==='B'">
                                            <div class="headline">
                                                <span class="yellow--text">{{props.item.criticidad}}</span>
                                                </div>
                                        </template>
                                        <template v-if="props.item.criticidad==='C'">
                                            <div class="headline">
                                                <span class="green--text">{{props.item.criticidad}}</span>
                                                </div>
                                        </template>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                        <v-card-title>
                            <v-list-tile-content>
                                <v-flex xs12 sm12 md12>
                                    <template v-if="props.item.idtarjeta === 1">
                                        <v-chip color="red" class="ma-2" text-color="black"> 
                                            <v-icon left>build</v-icon>
                                            <div class="subtitle-1">
                                                {{props.item.codigo}} MTTO
                                            </div>
                                        </v-chip>
                                    </template>
                                    <template v-if="props.item.idtarjeta === 2">
                                        <v-chip color="primary" class="ma-2" text-color="white">
                                            <v-avatar left>
                                                <v-icon>account_circle</v-icon>
                                            </v-avatar>
                                                {{props.item.codigo}} OPERADOR
                                        </v-chip>
                                    </template>
                                </v-flex>
                                <v-spacer></v-spacer>
                                <v-list-tile-sub-title v-html="props.item.nombre"></v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-flex xs12 sm12 md12>
                                <v-list two-line>
                                    <template >
                                        <v-divider ></v-divider>
                                        <v-list-tile >
                                            <v-list-tile-avatar>
                                                <img src="https://cdn.vuetifyjs.com/images/lists/1.jpg">
                                            </v-list-tile-avatar>
                                            <v-list-tile-content>
                                                <v-list-tile-title v-html="props.item.usuario"></v-list-tile-title>
                                                <v-list-tile-sub-title v-html="props.item.area"></v-list-tile-sub-title>
                                                <v-list-tile-sub-title v-html="props.item.maquina"></v-list-tile-sub-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-divider ></v-divider>
                                        <div class="caption">Emision:  {{props.item.emision_ts}}</div>
                                        <v-text></v-text>
                                    </template>
                                </v-list>
                            </v-flex >
                        </v-card-title>
                        <v-card-actions>
                            <v-btn  color="green"@click="editItemConfirmar(props.item)">Asignarme</v-btn>
                            <v-btn outline color="blue"@click="editItem(props.item)">Detalles</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-hover>
            </v-flex>
        </template>
    </v-data-iterator>

</v-container>
--
</template>

<script>
    import axios from 'axios'
    import { all } from 'q';
    export default {
        data(){
            return {
                dialog: false,
                show:false,
                search:'',       
                rowsPerPageItems: [4, 8, 12,50],
                pagination: {
                    rowsPerPage: 4
                },
                pasoma:[0,1,2,3,4,5,6,7],
                menu2: false,
                areas:[],
                // SNACKBAS NOTIFICACIONS
                color:"",
                snackbar: false,
                textsnackbar: 'My timeout is set to 2000.',
                timeout: 2000, 
                x: 'right',
                y: 'top',
                anomalias:[],
                itemsdata:[],
                // variables
                codigo:'',
                idanomalia:'',
                nombre_anomalia:'',
                emision_ts:'',
                id_usuario:'',
                nombre_usuario:'',
                maquina:'',
                anomaliac:'',
                relacionado:'',
                tarjeta:'',
                idtarjeta:'',
                descripcion:'',
                paso_ma:'',
                criticidad:'',
                turno:'',
                area:'',
                relacionado:'',
                dialogconfirmar:false,
                snackbar:false,
                timeout:2000,
                mensajesnack:'',
                tarjetauser:'',
                verNuevo:0,
                errorArticulo:null,
                //variables de maquina
                buscarmaquina:'',
                idmaquina:'',
                nombremaquina:'',
                maquinas:[],
                verMaquinas:0,
                showbuscarmaquinatooltip:false,
                //variables de areas
                idarea:'',
                nombrearea:'',
                //variables de anomalias
                buscaranomalia:'',
                idanomalia:'',
                nombreanomalia:'',
                anomaliasdata:[],
                verAnomalias:0,
                //variables de registro sucesos
                buscarsuceso:'',
                idsuceso:'',
                nombresuceso:'',
                sucesosdata:[],
                verSucesos:0,
                
                id: '',
                idproveedor:'',
                areas:[],
                    
                idusuariotarjeta:'',
                tarjetanombre:'',
                tarjetafecha:'',
                tarjetapasoma:-1,
                tarjetacriticidad:'',
                tarjetaturno:'',
                tarjtadecripcion:'',
                tarjetasol_implementada:'',
                tarjetaidtecnico:2,
                tarjetaconfirmacion_tec:false,
                tarjetaidsupervisor:2,
                tarjetaconfirmacion_super:false,
                tarjetaobservaciones:'',
                tarjetaprog:false,
                tarjetaeliminado:false,
                tarjetadescripcion:'',
                tarjetaidtarjeta:1,
                //auxiliadres
                dialogTarjeta:false,
                selecttarjeta: [
                    { text: 'TARJETA ROJA' ,value: '1'},
                    { text: 'TARJETA AZUL ' ,value: '2'}
                ],   
                verNuevo:0,
                errorArticulo:null,
                    
                cabeceraMaquinas: [
                    {text: 'Seleccionar', value: 'seleccionar', sortable: false },
                    { text: 'Maquina', value: 'nombre', sortable: false },
                    { text: 'Area', value: 'area' , sortable: false }
                ],
                
                cabeceraAnomalias: [
                    {text: 'Seleccionar', value: 'seleccionar', sortable: false },
                    { text: 'Anomalia', value: 'nombre', sortable: false },
                    { text: 'Descripcion', value: 'descripcion' , sortable: false }         
                ],
                
                cabeceraSuceso: [
                    {text: 'Seleccionar', value: 'seleccionar', sortable: false },
                    { text: 'Anomalia', value: 'nombre'}
                ],
                
                articulos:[],
                texto:'',
                valida: 0,
                validaMensaje:[],
                adModal: 0,
                adAccion: 0,
                adNombre: '',
                adId: '',
            }
        },
        created () {
            this.listar();
            this.seleccionautomaticotarjeta();
            this.listarMaquina();
            this.listarAnomalia();
            this.listarSuceso();
            //let me=this;
            //this.idusuariotarjeta=this.$store.state.usuario.idusuario;
            this.select();
        },
        
        methods:{
            mostrarNuevo(){
                this.verNuevo=1;
            },
            ocultarNuevo(){
                this.verNuevo=0;
                //this.limpiar();
            },
            editItem (item) {
                this.idmaquina=item.idmaquina;
                this.codigo=item.codigo;
                this.idanomalia=item.idregistroanomalia;
                this.nombre_anomalia=item.nombre;
                this.emision_ts=item.emision_ts;
                this.id_usuario=item.id_usuario;
                this.nombre_usuario=item.usuario,
                this.maquina=item.maquina;
                this.anomaliac=item.anomaliac;
                this.relacionado=item.relacionado;
                this.tarjeta=item.tarjeta;
                this.descripcion=item.descripcion;
                this.paso_ma=item.paso_ma;
                this.criticidad=item.criticidad;
                this.turno=item.turno;
                this.area=item.area;
                this.relacionado=item.relacionado;
                //this.editedIndex=1;
                this.dialog = true
            },
            listar(){
                let me=this;
                axios.get('api/RegistrosAnomalias/ListarTecnico').then(function(response){
                //console.log(response);
                me.itemsdata=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
            
            confirmarStado () {
                let me=this;
                axios.put('api/RegistrosAnomalias/AsignarTecnico',{
                    'idregistroanomalia':me.idanomalia,
                    'idtecnico': me.$store.state.usuario.idusuario
                    }).then(function(response){
                        me.close();
                        me.listar();
                        me.limpiar();  
                    }).catch(function(error){
                        console.log(error);
                });    
            },
            
            close(){
                this.dialogconfirmar=false
                this.snackbar=true
                this.textsnackbar='Operacion exitosa'
            },
            
            limpiar(){
                // this.idmaquina=0,
            },
                
            abrirventanaconfirmar(){
                this.confirmar=true
            },
                
            editItemConfirmar (item) {
                this.idanomalia=item.idregistroanomalia;
                //this.editedIndex=1;
                this.codigo=item.codigo;
                this.dialogconfirmar = true;
            },
            
            seleccionautomaticotarjeta(){
                let me=this;
                if (this.$store.state.usuario.rol =='Mantenimiento'){
                    this.tarjetauser=1;
                }else
                    if (this.$store.state.usuario.rol =='Operador'){
                        this.tarjetauser=2;
                }
            },
                
            //METODOS DE MAQUINAS   
            listarMaquina(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Maquinas/ListarMaquinas/',configuracion).then(function(response){
                //console.log(response);
                    me.maquinas=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
            
            mostrarMaquinas(){
                this.verMaquinas=1;
            },
            
            ocultarMaquinas(){
                this.verMaquinas=0;
            },
            
            agregarMaquina(data = []){
                this.idmaquina=data['idmaquina'];
                this.nombremaquina= data['nombre'];
                this.verMaquinas=0;
                this.snackbar = true;
                this.color="success";
                this.textsnackbar='Maquina seleccionada' +" "+ this.nombremaquina
            },
            
            //METODOS ANOMALIAS LISTAR 
            listarAnomalia(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Anomalias/ListarAnomalias/',configuracion).then(function(response){
                    //console.log(response);
                    me.anomaliasdata=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
            
            mostrarAnomalia(){
                this.verAnomalias=1;
            },
            
            ocultarAnomalia(){
                this.verAnomalias=0;
            },

            agregarAnomalia(data = []){
                this.idanomalia=data['idanomalia'];
                this.nombreanomalia= data['nombre'];
                this.verAnomalias=0;
                this.verMaquinas=0;
                this.snackbar = true;
                this.color="success";
                this.textsnackbar='Anomalia seleccionada' +" "+ this.nombreanomalia
            },
            // METODOS DE SUCESOS RELACIONADO 
            listarSuceso(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Sucesos/ListarSucesos/',configuracion).then(function(response){
                    //console.log(response);
                    me.sucesosdata=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },
            
            mostrarSuceso(){
                this.verSucesos=1;
            },
            
            ocultarSuceso(){
                this.verSucesos=0;
            },
            
            agregarSuceso(data = []){
                this.idsuceso=data['idsuceso'];
                this.nombresuceso= data['nombre'];
                this.verSucesos=0;
                this.snackbar = true;
                this.color="success";
                this.textsnackbar='Relacionado con ' +" "+ this.nombresuceso
            },
            
            ///  FIN DE METODOS SUCESOS
            guardar () {
                if (this.validar()){
                    return;
                }
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};                
                let me=this;
                axios.post('api/RegistrosAnomalias/CrearAnomalias',{
                    'nombre':me.tarjetanombre,
                    //'emision_ts':me.tarjetafecha,
                    'idusuario': this.$store.state.usuario.idusuario,
                    'paso_ma': me.tarjetapasoma,
                    'criticidad':me.tarjetacriticidad,
                    'turno':me.tarjetaturno,
                    'idarea':me.idarea,
                    'idmaquina':me.idmaquina,
                    'idanomalia':me.idanomalia,
                    'idsuceso':me.idsuceso,
                    'idtarjeta':me.tarjetauser,
                    'descripcion':me.tarjetadescripcion,
                    'sol_implementada':me.tarjetasol_implementada,
                    'idtecnico':me.tarjetaidtecnico,
                    'confirmacion_tec':me.tarjetaconfirmacion_tec,
                    'idsupervisor':me.tarjetaidsupervisor,
                    'confirmacion_super':me.tarjetaconfirmacion_super,
                    'observaciones':me.tarjetaobservaciones,
                    'prog':me.tarjetaprog,
                    'eliminado':me.tarjetaeliminado
                    },configuracion).then(function(response){
                        me.ocultarNuevo();
                        me.listar();
                        // me.limpiar(); 
                        me.mostrarSnacbar(); 
                    }).catch(function(error){
                        console.log(error);
                });
            },
            
            /// METODO SNACBAR
            mostrarSnacbar(){
                this.verSucesos=0;
                this.snackbar = true;
                this.color="success";
                this.textsnackbar='Tarjeta creada exitosa'
            },
            
            select(){
                let me=this;
                var areasArray=[];
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Areas/SelectAreas',configuracion).then(function(response){
                    areasArray=response.data;
                    areasArray.map(function(x){
                        me.areas.push({text: x.nombre,value:x.idarea});
                        });
                    }).catch(function(error){
                        console.log(error);
                });
            },
            
            validar(){
                this.valida=0;
                this.validaMensaje=[]; 
                if (!this.tarjetanombre){
                    this.validaMensaje.push("Ingrese un nombre.");
                }
                if (this.tarjetapasoma < 0 ){
                    this.validaMensaje.push("Seleccioné PASO MA");    
                }
                if (!this.tarjetacriticidad){
                    this.validaMensaje.push("Seleccioné criticidad");    
                }
                if (!this.tarjetaturno){
                    this.validaMensaje.push("Seleccioné un turno");    
                }
                if (!this.idarea){
                    this.validaMensaje.push("Seleccioné una area.");    
                }
                if (!this.idmaquina){
                    this.validaMensaje.push("Seleccioné una maquina.");    
                }
                if (!this.idanomalia){
                    this.validaMensaje.push("Seleccioné una anomalia.");    
                }
                if (!this.idsuceso){
                    this.validaMensaje.push("Seleccioné un suceso relacionado.");    
                }
                if (!this.tarjetadescripcion){
                    this.validaMensaje.push("Ingrese una descripcion.");    
                }
                if (!this.tarjetauser){
                    this.dialogTarjeta=true;
                }
                if (this.validaMensaje.length){
                    this.valida=1;
                }
                return this.valida;
            },
            
            formateofechahora(fecha){
                //var d = new Date()
                var h = fecha.getHours();
                var m = fecha.getMinutes();
                return h + ':' + m
            },
        }        
    }
</script>







// GET: api/Categoria_perdida/SelectEspecifico
        [HttpGet("[action]/{id}")]
        public async Task<IEnumerable<SelectCategoriaPerdidaViewModel>> SelectEspecifico(int nivel)
        {
            var categoriaPerdida = await _context.Categoria_perdida.Where(c => c.activo == true && c.eliminado == false && c.nivel == nivel).ToListAsync();

            return categoriaPerdida.Select(c => new SelectCategoriaPerdidaViewModel
            {
                idcategoria = c.idcategoria,
                nombre = c.nombre,
                nivel = c.nivel,
                cat_padre = c.cat_padre
            });

        }













<template>
    <div>
        <div>
            <template>
                <v-avatar>
                    <img id='imgElem' alt="avatar">
                </v-avatar>
            </template>
        </div>
        <div>
            <v-btn  color="green" @click="cargarImagen()" >cargar 
                
            </v-btn>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                imgElem:null,
                dataimagenes:[]
            }
        },
        methods: {
            onPickFile() {
                this.$refs.image.click()
            },
            cargarImagen(){
                    let me=this;
                    var bandera1;
                    const fileReader = new FileReader()
                    let header={"Authorization" : "Bearer " + this.$store.state.token};
                    let configuracion= {headers : header};
                    axios.get('api/Imagenes/SelectEspecifico/'+9+'',configuracion).then(function(response){
                        me.imagenconsulta=response.data;
                        me.bandera1 = me.imagenconsulta[0]
                        imgElem.setAttribute('src', me.bandera1['imagen']);
                        
                    }).catch(function(error){
                        console.log(error);
                    });
            },
            removeFile() {
                this.imageUrl = ''
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>        