<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../../assets/logo_unilever.png')" 
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3">
          Bienvenido al sistema de registro PAMCO
        </h1>
        <p class="subheading font-weight-regular">
          Para mas informacion d desarrollo de sistemas,
          <br>contactarse con los desarrolladores
          <a href="wwww.tiemsolutions.com" target="_blank">Tiem Solutions</a>
        </p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    
  }),
};
</script>