<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title>Usuarios</v-toolbar-title>
                    <v-divider class="mx-2" inset vertical  ></v-divider>
                        <v-spacer></v-spacer>
                        <v-text-field class="text-xs-center" v-model="search2" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="900px" persistent>
                            <v-btn slot="activator" color="primary" dark class="mb-1">Nuevo</v-btn>
                            <v-card>
                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap>
                                            <v-flex xs10 class="text-xs-center"> 
                                                <v-spacer></v-spacer>
                                                <v-text-field class="text-xs-center" v-model="search" append-icon="search" label="Búsqueda" single-line hide-details></v-text-field>
                                                <v-spacer></v-spacer>
                                            </v-flex>
<!--//////////////////////////////////////////////////////////////////// inicio tabla roles //////////////////////////////////////////////////////////////////////////--> 
                                            <v-layout v-if="editdialog==false">
                                                <v-flex xs12>
                                                    <v-flex >
                                                        <v-data-table :headers="headers_usuarios_a_asignar" :items="usuarios" :search="search" class="elevation-1" >
                                                            <template slot="items" slot-scope="props">
                                                                <td class="justify-center layout px-0">
                                                                    <v-icon small class="mr-2" @click="editItem(props.item)" >
                                                                        add
                                                                    </v-icon>
                                                                </td>
                                                                <td>
                                                                    <v-avatar :tile=false>
                                                                        <img :src="props.item.avatar" height="200px">
                                                                    </v-avatar>
                                                                </td>
                                                                <td>{{ props.item.fname }}</td>
                                                                <td>{{ props.item.lname }}</td>
                                                                <td>
                                                                    <div v-if="props.item.activo">
                                                                        <span class="blue--text">Activo</span>
                                                                    </div>
                                                                    <div v-else>
                                                                        <span class="red--text">Inactivo</span>
                                                                    </div>
                                                                </td>
                                                            </template>
                                                            <template slot="no-data">
                                                            <v-btn color="primary" @click="listar">Resetear</v-btn>
                                                            </template>
                                                        </v-data-table>
                                                    </v-flex>
                                                </v-flex>
                                            </v-layout>
<!--//////////////////////////////////////////////////////////////////// fin tabla roles //////////////////////////////////////////////////////////////////////////-->
                                
                                        </v-layout>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                                    <v-btn color="blue darken-1" flat @click.native="guardar">Guardar</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog> 

<!--//////////////////////////////////////////////////////////////////// dialog activar desactivar //////////////////////////////////////////////////////////////////////////-->                  
                        <v-dialog v-model="adModal" max-width="290">
                            <v-card>
                                <v-card-title class="headline" v-if="adAccion==1">¿Activar Usuario?</v-card-title>
                                <v-card-title class="headline" v-if="adAccion==2">¿Desactivar Usuario?</v-card-title>
                                <v-card-text>
                                    Estás a punto de 
                                    <span v-if="adAccion==1">Activar </span>
                                    <span v-if="adAccion==2">Desactivar </span>
                                    el usuario {{ adNombre }}
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="green darken-1" flat="flat" @click="activarDesactivarCerrar">
                                        Cancelar
                                    </v-btn>
                                    <v-btn v-if="adAccion==1" color="orange darken-4" flat="flat" @click="activar">
                                        Activar
                                    </v-btn>
                                    <v-btn v-if="adAccion==2" color="orange darken-4" flat="flat" @click="desactivar">
                                        Desactivar
                                    </v-btn>
                                </v-card-actions>

                            </v-card>
                        </v-dialog>
                    </v-toolbar>
            <v-data-table :headers="headers_usuarios_asignados" :items="usuarios" :search="search" class="elevation-1" >
                <template slot="items" slot-scope="props">
                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)" >
                            edit
                        </v-icon>
                        <template v-if="props.item.activo">
                            <v-icon small @click="activarDesactivarMostrar(2,props.item)" >
                                block
                            </v-icon>
                        </template>
                        <template v-else>
                            <v-icon small @click="activarDesactivarMostrar(1,props.item)" >
                                check
                            </v-icon>
                        </template>
                    </td>
                    <td>
                        <v-avatar :tile=false>
                            <img :src="props.item.avatar" height="200px">
                        </v-avatar>
                    </td>
                    <td>{{ props.item.fname }}</td>
                    <td>{{ props.item.lname }}</td>
                    <td>
                        <v-icon small class="mr-2" @click="editItemRol(props.item)" > assignment_ind </v-icon>
                    </td>
                    <td>
                        <div v-if="props.item.activo">
                            <span class="blue--text">Activo</span>
                        </div>
                        <div v-else>
                            <span class="red--text">Inactivo</span>
                        </div>
                    </td>
                </template>
                <template slot="no-data">
                <v-btn color="primary" @click="listar">Resetear</v-btn>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
    import axios from 'axios';
    import PictureInput from "vue-picture-input";
    import { all } from "q";
    export default {
        data(){
            return {
                usuarios:[],                
                dialog: false,
                headers_usuarios_a_asignar: [
                    { text: 'Opciones', value: 'opciones', sortable: false },
                    { text: 'Avatar', value: 'avatar', sortable: false },
                    { text: 'Nombre', value: 'fname' },
                    { text: 'Apellido', value: 'lname' },
                    { text: 'Estado', value: 'activo', sortable: false  }              
                ],
                headers_usuarios_asignados: [
                    { text: 'Opciones', value: 'opciones', sortable: false },
                    { text: 'Avatar', value: 'avatar', sortable: false },
                    { text: 'Nombre', value: 'fname' },
                    { text: 'Apellido', value: 'lname' },
                    { text: 'Areas Asignadas', value: 'nombre_area' },
                    { text: 'Estado', value: 'activo', sortable: false  }              
                ],
                search: '',
                search2:'',
                nombre:'',
                adModal: 0,
                adAccion: 0,
                editdialog: false,
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nuevo usuario' : 'Actualizar usuario'
            }
        },

        watch: {
            dialog (val) {
            val || this.close()
            }
        },

        created () {
            this.listar();
        },
        methods:{
            usuario(){
                this.UserSistema=this.nombre+ "."+ this.apellido;
            },
            listar(){
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/UsuariosNet/Listaravatar',configuracion).then(function(response){
                    //console.log(response);
                    me.usuarios=response.data;
                }).catch(function(error){
                    console.log(error);
                });
            },     
            select(){
                let me=this;
                var rolesArray=[];
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/roles/Select',configuracion).then(function(response){
                    rolesArray=response.data;
                    rolesArray.map(function(x){
                        me.roles.push({text: x.nombre,value:x.idrol});
                    });
                }).catch(function(error){
                    console.log(error);
                });
            },
            editItem (item) {
                this.id=item.idusuario;
                this.idrol=item.idrol;
                this.nombre=item.fname;
                this.apellido=item.lname;
                this.telefono=item.telefono;
                this.password=item.password_hash;
                this.passwordAnt=item.password_hash;
                this.editedIndex=1;
                this.imageUrl=item.avatar;
                this.dialog = true
                this.editdialog = true;
            },
            close () {
                this.dialog = false;
                this.limpiar();
            },
            limpiar(){
                this.id="";
                this.nombre="";
                this.telefono="";
                this.password="";
                this.passwordAnt="";
                this.actPassword=false;
                this.editedIndex=-1;
                this.imageUrl= "";
                this.items_roles_usuario=[];
                this.items_areas_usuario=[];
                this.editdialog=false;
                this.values_area= [];
                this.values= [];
            },
            validar(){
                this.valida=0;
                this.validaMensaje=[];

                if (this.nombre.length<3 || this.nombre.length>50){
                    this.validaMensaje.push("El nombre debe tener más de 3 caracteres y menos de 50 caracteres.");
                }
                if (!this.password ){
                    this.validaMensaje.push("Ingrese un password valido.");
                }
                if (this.validaMensaje.length){
                    this.valida=1;
                }
                return this.valida;
            },
          
///////////////////////////////////////////////////////////////////////////////////////metodo de Areas ////////////////////////////////////////////////////////////////////////
            cargarAreas(){
                this.add_areas_dialog = 1
                this.values_areas=[]
                var tam = this.lista_areas_usuario.length
                for (var i=0; i<tam; i++){
                    this.values_areas.push(this.lista_areas_usuario[i].id_area);
                }
                
            },
            agregarNuevoArea(){
                this.errorRol=null;
                var tam = this.values_areas.length;
                var tam2 = this.lista_areas_usuario.length;
                var listaRepetidos = [];
                var lista = []
                for (var i=0; i<tam; i++){
                    for (var j=0; j<tam2; j++){
                        if(this.values_areas[i]!=this.lista_areas_usuario[j].id_area)
                            lista.push(this.values_areas[i]) 
                        else
                            listaRepetidos.push(this.values_areas[i]) 
                    }
                }
                if (this.values_areas.length!="" && this.lista_areas_usuario.length==""){
                    for (var i=0; i<tam; i++){
                        lista.push(this.values_areas[i]) 
                    }    
                }
                console.log(lista )
                let me=this;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                var user_id = this.id
                console.log(user_id)
                for(var i=0; i< lista.length; i++){
                    var area_id = lista[i]
                    console.log(area_id)
                    axios.post('api/usuario_area/CrearArea',{
                        'idusuario':user_id,
                        'idarea':area_id,
                    },configuracion).then(function(response){       
                    }).catch(function(error){
                        console.log(error);
                    });     
                }
                me.listar();
                me.add_areas_dialog = 0;
                me.edit_areas_dialog = 0  
            },
            eliminarAreaAsignada(item){
                let me=this;
                var id_area = item.id_area
                var id = item.idusuario
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.delete('api/usuario_area/Deleteusuario_area/'+id+'/'+id_area,{},configuracion).then(function(response){                 
                }).catch(function(error){
                    console.log(error);
                });
                this.eliminarAreadelista(this.lista_areas_usuario,id_area)
            },
            eliminarAreadelista(arr,area){
                var i= arr.indexOf(area);
                if(i!==1){
                    arr.splice(i,1)
                }
            },
            agregarArea(data = []){
                this.errorArea=null;
                var tam = this.values_area.length;
                for (var l=0; l<tam; l++){
                    var idarea = this.values_area[l]
                    if(this.encuentraArea(this.values_area[l])){
                        this.errorArea="El Area ya se encuentra agregada"
                    }
                    else{
                        for (var m=0; m<this.listaAreasbuscados.length; m++){
                            if (this.listaAreasbuscados[m]['id']==idarea)
                                this.items_areas_usuario.push(
                                    {id:this.listaAreasbuscados[m]['id'],
                                    nombre: this.listaAreasbuscados[m]['nombre'],
                                    detalle: this.listaAreasbuscados[m]['descripcion']
                                    }
                            )
                        }
                    }
                }
            },
            encuentraArea(id){
                var sw=0;
                for (var j=0; j<this.items_areas_usuario.length; j++){
                    if (this.items_areas_usuario[j]['id']==id){
                        sw=1;
                    }
                }
                return sw;
            },
            eliminarArea(arr,item){
                var i= arr.indexOf(item);
                if(i!==1){
                    arr.splice(i,1)
                }
            },
            buscarArea(){
                let me=this;
                me.errorArea=null;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/Areas/buscarArea/'+this.area_usuario,configuracion).then(function(response){
                    //console.log(response);
                    me.agregarArea(response.data);
                }).catch(function(error){
                    console.log(error);
                    me.errorArea='No existe el Area'
                });
                
            },
            buscarAreasUsuario(id){
                let me=this;
                me.errorRol=null;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('api/UsuariosNet/UsuarioAreasAsignados/'+id,configuracion).then(function(response){
                    //console.log(response);
                    me.lista_areas_usuario = response.data;
                }).catch(function(error){
                    me.errorRol='No existe el Areas'
                });
            }, 
            editItemArea(item){
                this.edit_areas_dialog = 1;
                this.id=item.idusuario;
                this.idarea=item.idarea;
                this.nombre=item.fname;
                this.apellido=item.lname;
                this.buscarAreasUsuario(item.idusuario);
            },
            listarArea(){
                let me=this;
                var tamArea = 0;
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                axios.get('/api/Areas/Listar',configuracion).then(function(response){
                    me.listaAreasbuscados=response.data;
                    tamArea = me.listaAreasbuscados.length;
                    for (var k = 0; k < tamArea; k++) {
                        me.datas_area.push({
                            key: me.listaAreasbuscados[k]['id'],
                            id:me.listaAreasbuscados[k]['id'],
                            label:me.listaAreasbuscados[k]['nombre']
                        });
                    }
                }).catch(function(error){
                    console.log(error);
                });

            },
            mostrarListaAreas(){
                this.verAreas=1;
            },
            ocultarListaAreas(){
                this.verAreas=0;
            },  
///////////////////////////////////////////////////////////////////////////////////////fin metodo de Areas //////////////////////////////////////////////////////////////////////// 
        }
               
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>
