<template>
    <v-container>
        <v-layout class="pink">
<!--//////////////////////////////////////////////////////////////////// inicio insertar imagen //////////////////////////////////////////////////////////////////////////-->                                
            <v-flex xs12 sm6 wrap >
                <v-flex>
                    <template>
                    <v-flex xs12 class="align-center justify-center layout text-center overline">
                        <v-image-input v-model="imageUrl" :image-quality="0.50" image-format="jpeg" minScaling="contain" overlayBorderWidth="3px" overlayPadding="1px"
                        backgroundColor="black" :imageHeight="120" :imageWidth="120" clearable />
                    </v-flex>
                    </template>
                </v-flex>
            </v-flex>
<!--//////////////////////////////////////////////////////////////////// fin insertar imagen //////////////////////////////////////////////////////////////////////////-->  
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                imgElem:null,
                ArrayAreas:[],
                imageUrl:''
            }
        },
        created() {
            this.cargarAreas()
            // this.listar();
            //this.seleccionautomaticotarjeta();
        },
        methods: {
            cargarAreas() {
                var aux = "";
                /*for(var i = 1; i < 21; i++) {
                    aux = '.idArea'+i
                    this.ArrayAreas.push((this.$store.state.usuario.idArea+i));
                }*/
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea1));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea2));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea3));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea4));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea5));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea6));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea7));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea8));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea9));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea10));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea11));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea12));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea13));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea14));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea15));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea16));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea17));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea18));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea19));
                this.ArrayAreas.push(Number(this.$store.state.usuario.idArea20));
                console.log(this.ArrayAreas);
            },
        }
    }
</script>
