<template>
    <div>
        <div>
            <img :src="imageUrl" ref="imageUrl" height="150" @click="onPickFile" style="cursor: pointer;">
        </div>
        <div>
            <v-btn raised @click="onPickFile" v-if="!imageUrl">
                {{ selectLabel }}
            </v-btn>
            <v-btn raised class="error" @click="removeFile" v-else>
                {{ removeLabel }}
            </v-btn>
            <input type="file" ref="image" name="image" :accept="accept" @change="onFilePicked">

            <v-btn @click="cargar()">
                yyy
            </v-btn>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props: {
            value: {
                type: String
            },
            accept: {
                type: String,
                default: '*'
            },
            selectLabel: {
                type: String,
                default: 'Seleccione una imagen'
            },
            cargarunaimagen: {
                type: String,
                default: 'cargue una imagen'
            },
            removeLabel: {
                type: String,
                default: 'Remover'
            }
        },

        data() {
            return {
                imageUrl: '',
                imageUrl2:'',
                imagenconsulta: [],
                files:null
            }
        },

        watch: {
            value(v) {
                this.imageUrl = v
                //this.imageUrl2 = v
            }
        },

        mounted() {
            this.imageUrl = this.value
            this.imageUrl2 = this.value
        },

        methods: {
            onPickFile() {
                this.$refs.image.click()
            },

            onFilePicked(event) {
                var bandera = '';
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                const files = event.target.files || event.dataTransfer.files
                let me=this;
                
                if (files && files[0]) {
                    let filename = files[0].name

                    if (filename && filename.lastIndexOf('.') <= 0) {
                        return //return alert('Please add a valid image!')
                    }
                    const fileReader = new FileReader()
                    fileReader.addEventListener('load', () => {
                        this.imageUrl = fileReader.result;
                        bandera = fileReader.result;
                        
                        axios.post('api/Imagenes/crear',{
                        'nombre': "prueba",
                        'imagen': this.imageUrl
                        },configuracion).then(function(response){ 
                            console.log("listo2");                     
                        }).catch(function(error){
                            console.log(error);
                        });

                    })
                    fileReader.readAsDataURL(files[0])
                    //console.log(fileReader)

                    this.$emit('input', files[0])
                }
            },
            cargar() {
                var bandera = '';
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                const files = event.target.files || event.dataTransfer.files
                let me=this;
                
                if (files && files[0]) {
                    let filename = files[0].name

                    if (filename && filename.lastIndexOf('.') <= 0) {
                        return //return alert('Please add a valid image!')
                    }
                    const fileReader = new FileReader()
                    fileReader.addEventListener('load', () => {
                        this.imageUrl = fileReader.result
                        bandera = fileReader.result
                        console.log(this.bandera)
                        axios.post('api/Imagenes/crear',{
                        'nombre' : "pra",
                        'imagen' : me.imageUrl
                        },configuracion).then(function(response){ 
                            console.log("listo2");                     
                        }).catch(function(error){
                            console.log(error);
                        });

                    })
                    fileReader.readAsDataURL(files[0])
                    //console.log(fileReader)

                    this.$emit('input', files[0])
                }
            },
            cargarImagen(){
                    let me=this;
                    let header={"Authorization" : "Bearer " + this.$store.state.token};
                    let configuracion= {headers : header};
                    axios.get('api/Imagenes/SelectEspecifico/'+2+'',configuracion).then(function(response){
                        me.imagenconsulta=response.data;
                        console.log(me.imagenconsulta);
                        this.imageUrl2 = me.imagenconsulta['imagen']
                    }).catch(function(error){
                        console.log(error);
                    });
            },

            removeFile() {
                this.imageUrl = ''
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>