<template>
  <v-layout align-start>
    <v-container fluid grid-list-sm>
      <!--VENTANA CONFIRMACION DE ASIGNACION-->
      <v-dialog v-model="dialogconfirmar" persistent max-width="250">
        <v-card>
          <div class="body-1">Tarjeta a recibir:</div>
          <v-card-title class="display-1" v-text="this.codigo"></v-card-title>

          <v-card-actions>
            <v-btn color="green darken-1" @click="confirmarStadoSupervisor">Recibir</v-btn>
            <v-btn color="green darken-1" flat @click="dialogconfirmar = false">Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!--VENTANA IMAGEN y animacion de carga-->

      <v-dialog v-model="dialogiamgen" height="750" width="818" persistent>
        <template>
          <v-dialog v-model="dialogCargaImagen" hide-overlay persistent width="300">
            <!--IMAGEN DE INICIO-->
            <v-card color="primary" dark>
              <v-card-text>
                {{this.infoload}}
                <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-dialog>
          <v-layout align-center wrap>
            <v-flex v-if="verImgCarga" class="pa-1" xs6>
              <v-card class="mx-auto" max-width="400">
                <template v-if="verImgCarga">
                  <v-flex xs10>
                    <v-image-input
                      v-model="imageUrl"
                      :image-quality="0.99"
                      image-format="jpg"
                      minScaling="contain"
                      overlayBorderWidth="7px"
                      overlayPadding="1px"
                      backgroundColor="black"
                      :imageHeight="300"
                      :imageWidth="450"
                      clearable
                    />
                  </v-flex>
                </template>
                <v-card-actions>
                  <v-btn text @click="OculatarImagen()" color="orange">Cerrar</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
            <v-layout wrap>
              <v-flex class="pa-1" xs12 md6>
                <v-card class="mx-auto" max-width="400">
                  <v-flex xs12 v-if="!this.imageUrl">
                    <div class="red--text" key="Sin imagen">No se cargo ninguna imagen...</div>
                  </v-flex>
                  <v-img class="white--text" height="300px" width="400" :src="imageUrl">
                    <v-card-title class="align-end fill-height">Imagen del antes</v-card-title>
                  </v-img>
                  <v-card-text>
                    <span>Visualización de la anomalía</span>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn text @click="OculatarImagen()" color="orange">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
              <v-flex class="pa-1" xs12 md6>
                <v-card class="mx-auto" max-width="400">
                  <v-flex xs12 v-if="!this.imageUrlSolucion">
                    <div class="red--text" key="Sin imagen">No se cargo ninguna imagen...</div>
                  </v-flex>
                  <v-img class="white--text" height="300px" width="400" :src="imageUrlSolucion">
                    <v-card-title class="align-end fill-height">Imagen del después</v-card-title>
                  </v-img>
                  <v-card-text>
                    <span>Solución aplicada</span>
                  </v-card-text>

                  <v-card-actions>
                    <v-btn
                      text
                      @click="CambiarImagenDespues=true,dialogiamgen=false"
                      color="green"
                    >Cambiar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-layout>
        </template>
      </v-dialog>
      
        <!--MODIFICAR IMAGEN DE DESPUES--->

      <v-dialog width="450" height="350" persistent v-model="this.CambiarImagenDespues">
        <v-card class="mx-auto" max-width="450">
          <div>
            <div>
              <img
                :src="imageUrlMain"
                ref="imageUrlMain"
                height="150"
                @click="onPickFile"
                style="cursor: pointer;"
              />
            </div>
            <div>
              <v-btn raised @click="onPickFile" v-if="!imageUrlMain">{{ selectLabel }}</v-btn>
              <v-btn raised class="error" @click="removeFile" v-else>{{ removeLabel }}</v-btn>
              <input type="file" ref="image" name="image" :accept="accept" @change="onFilePicked" />
            </div>
          </div>
          <v-flex xs12 sm10 v-show="1==0">
            <v-image-input
              v-model="imageUrlSolucion"
              :image-quality="0.90"
              image-format="webp"
              minScaling="contain"
              overlayBorderWidth="3px"
              overlayPadding="1px"
              backgroundColor="black"
              :imageHeight="450"
              :imageWidth="550"
              errorIcon
              :hideActions="true"
              successIcon
              :disabled="true"
            />
          </v-flex>

          <v-card-actions>
            <v-btn
              text
              @click="CambiarImagenDespues=false,dialogiamgen=false,imageUrl='',imageUrlMain='',imageUrlMain=''"
              color="orange"
            >Cancelar</v-btn>
            <v-btn
              :loading="loadingImg"
              :disabled="loadingImg"
              @click="editarImagen()"
              color="success"
            >Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!--NOTIFICACIONES-->
      <v-snackbar
        v-model="snackbar"
        :timeout="this.timeout"
        bottom
        right="right"
        :color="this.color"
      >{{textsnackbar}}</v-snackbar>

      <!--VENTANA DETALLES -->
     
      <!--VENTANA LISTA DE TARJETAS -->
      <template v-if="this.verListaTarjetas==true">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/' }">Inicio</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/tarjetas' }">WCM Tarjetas</el-breadcrumb-item>
          <el-breadcrumb-item>Operador</el-breadcrumb-item>
        </el-breadcrumb>
        <el-divider></el-divider>
        <v-toolbar flat color="white">
          <v-layout mt-1 justify-center align-center wrap>
    
            <v-btn small v-if="verNuevo==0" @click="dataControLiderSuperProduccion() ,listarsinfoto(2) " color="blue" fab dark>
              <v-icon>update</v-icon>
            </v-btn>
            <div class="text-center">
              <v-avatar>
                <img :src="require('../../../../assets/Azul.png')" alt="avatar" />
              </v-avatar>
            </div>

            <v-toolbar-title class="body-1">Lista de Recepción</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon="search"
              label="Búsqueda"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>

            <!-- <v-btn v-if="verNuevo==0" @click="mostrarNuevo(1)" color="#64DD17" fab dark>
            <v-icon>post_add</v-icon>
            </v-btn>-->
          </v-layout>
        </v-toolbar>
        <el-divider>
          <i></i>
        </el-divider>

        <v-data-iterator
          :items="itemsdata"
          :search="search"
          :rows-per-page-items="rowsPerPageItems"
          :pagination.sync="pagination"
          content-tag="v-layout"
          row
          wrap
        >
          <template v-slot:item="props">
            <v-flex xs12 sm4>
              <v-hover>
                <v-card
                  slot-scope="{ hover }"
                  :class="`elevation-${hover ? 10 : 2}`"
                  class="mx-auto"
                >
                  <v-card-title>
                    <v-flex xs5>
                      <v-layout wrap>
                        <v-flex xs12 align-start class="caption text-xs-center black--text">
                          <v-alert
                            :value="true"
                            color="info"
                            dense
                            outline
                            class="pa-0 caption"
                          >Tarjeta de Anomalia</v-alert>
                        </v-flex>
                        <v-flex xs12 class="body-1 text-xs-center blue darken-3 white--text">
                          <h2>OPERADOR</h2>
                        </v-flex>

                        <v-flex xs12 align-start class="caption text-xs-center black--text">
                          <v-alert :value="true" color="info" dense outline class="pa-0">
                            <v-flex class="text-xs-center" xs1>
                              <template class="text-xs-center" v-if="props.item.criticidad==='A'">
                                <div class="caption text-xs-center">
                                  <span
                                    class="red--text caption text-xs-center"
                                  >Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                              <template class="text-xs-center" v-if="props.item.criticidad==='B'">
                                <div class="caption">
                                  <span class="yellow--text">Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                              <template class="text-xs-center" v-if="props.item.criticidad==='C'">
                                <div class="caption">
                                  <span class="green--text">Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                            </v-flex>
                          </v-alert>
                        </v-flex>
                      </v-layout>
                      <v-spacer></v-spacer>
                      <v-flex xs12 class="pa-0 ma-0">
                        <p
                          class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                        >Sector: {{props.item.area}}</p>
                      </v-flex>
                      <v-flex xs12 class="pa-0 ma-0">
                        <p
                          class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                        >Sub-Sector: {{props.item.sector}}</p>
                      </v-flex>
                      <template v-if="props.item.idmaquina===14">
                        <v-flex xs12 class="pa-0 ma-0">
                          <p
                            class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                          >Maquina: Ninguna maquina</p>
                        </v-flex>
                      </template>
                      <template v-else>
                        <v-flex xs12 class="pa-0 ma-0">
                          <p
                            class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                          >Maquina: {{props.item.maquina}}</p>
                        </v-flex>
                      </template>
                    </v-flex>
                    <v-layout>
                      <v-flex xs12>
                        <v-flex xs7 class="caption black--text pa-0 ma-4 text-xs-center red--text">
                          <h2>{{props.item.codigo}}</h2>
                        </v-flex>
                          <v-flex xs7 class="caption black--text pa-0 ma-3 text-xs-center red--text">
                          <el-image style="width: 150px; height: 100px" :src="props.item.foto">
                            <div slot="error" class="image-slot">
                              <div class="red--text" key="Sin imagen">No se subio ninguna imagen!</div>
                            </div>
                          </el-image>
                        </v-flex>


                        <v-flex xs12>
                          <v-flex xs12 class="pa-0 ma-0">
                            <div
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >{{props.item.usuario}}</div>
                          </v-flex>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Fecha : {{props.item.emision_ts}}</p>
                          </v-flex>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Paso MA :{{props.item.paso_ma}}</p>
                          </v-flex>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Criticidad : {{props.item.criticidad}}</p>
                          </v-flex>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Turno : {{props.item.turno}}</p>
                          </v-flex>
                        </v-flex>
                      </v-flex>
                    </v-layout>
                  </v-card-title>
                  <v-card-text class="pa-0 ma-0">
                    <v-layout justify-center align-center wrap>
                      <v-flex xs6>
                        <p
                          class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                        >Anomalía :</p>
                      </v-flex>
                      <v-flex xs6>
                        <p
                          class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                        >Relacionada con :</p>
                      </v-flex>

                      <v-flex class="white--text" xs6>
                        <p
                          class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                        >{{props.item.anomaliac}}</p>
                      </v-flex>

                      <v-flex class="white--text" xs6>
                        <p
                          class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                        >{{props.item.relacionado}}</p>
                      </v-flex>
                    </v-layout>

                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <p
                          class="caption pa-2 ma-0 blue darken-3 white--text subtitle-1 text-xs-lef"
                        >Descripción detallada de la anomalía:</p>
                      </v-flex>
                    </v-layout>

                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <v-card class="caption mx-auto">
                          <v-card-text>{{props.item.descripcion}}</v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <p
                          class="caption pa-2 ma-0 blue darken-3 white--text subtitle-1 text-xs-lef"
                        >Descripción detallada de la solución:</p>
                      </v-flex>
                    </v-layout>

                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <v-card class="mx-auto">
                          <v-card-text class="caption">{{props.item.sol_implementada}}</v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs6>
                        <p
                          class="caption pa-2 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                        >Resuelto por: {{props.item.tecnico}}</p>
                      </v-flex>

                      <v-flex xs6>
                        <p
                          class="caption pa-2 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                        >Solución: {{props.item.fecha_solucion}}</p>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                  <v-card-actions>
                    <v-flex xs3>
                      <!--VENTANA ACCCIONES -->
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            flat
                            icon
                            v-on="on"
                            color="#64DD17"
                            @click="editItemConfirmar(props.item)"
                          >
                            <v-icon>done_outline</v-icon>
                          </v-btn>
                        </template>
                        <span>Recibir tarjeta</span>
                      </v-tooltip>
                    </v-flex>

                    <v-flex xs3>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            flat
                            icon
                            v-on="on"
                            color="#E65100"
                            @click="VerfotoAmbos(props.item)"
                          >
                            <v-icon>photo</v-icon>
                          </v-btn>
                        </template>
                        <span>Foto del antes</span>
                      </v-tooltip>
                    </v-flex>

                    <!--  <v-flex xs3>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            flat
                            icon
                            v-on="on"
                            color="#455A64"
                            @click="editarTarjeta(props.item)"
                          >
                            <v-icon>edit</v-icon>
                          </v-btn>
                        </template>
                        <span>Editar datos de la tarjeta</span>
                      </v-tooltip>
                    </v-flex>-->
                  </v-card-actions>
                </v-card>
              </v-hover>
            </v-flex>
          </template>
        </v-data-iterator>
      </template>
    </v-container>
  </v-layout>
</template>
  


<script>
import axios from "axios";
import { all } from "q";
export default {
  props: {
    value: {
      type: String
    },
    accept: {
      type: String,
      default: "*"
    },
    selectLabel: {
      type: String,
      default: "Seleccione una imagen"
    },
    cargarunaimagen: {
      type: String,
      default: "cargue una imagen"
    },
    removeLabel: {
      type: String,
      default: "Cambiar imagen"
    }
  },
  data() {
    return {
      imageUrl: "",
      imagen_anomalia: null,
      files: null,
      dialog: false,
      show: false,
      search: "",
      rowsPerPageItems: [3, 6, 8, 12, 50],
      pagination: {
        rowsPerPage: 3
      },
      pasoma: [0, 1, 2, 3, 4, 5, 6, 7],
      menu2: false,
      areas: [],
      // SNACKBAS NOTIFICACIONS
      color: "",
      snackbar: false,
      textsnackbar: "My timeout is set to 2000.",
      timeout: 2000,
      x: "right",
      y: "top",
      anomalias: [],

      itemsdata: [],
      datasrc: [],
      // variables
      CambiarImagenDespues: 0,
      codigo: "",
      idanomalia: "",
      nombre_anomalia: "",
      emision_ts: "",
      id_usuario: "",
      nombre_usuario: "",
      maquina: "",
      anomaliac: "",
      relacionado: "",
      tarjeta: "",
      idtarjeta: 0,
      descripcion: "",
      paso_ma: "",
      criticidad: "",
      turno: "",
      area: "",
      relacionado: "",
      dialogconfirmar: false,
      snackbar: false,
      timeout: 2000,
      mensajesnack: "",
      tarjetauser: "",
      verNuevo: 0,

      errorArticulo: null,
      //variables de maquina
      buscarmaquina: "",
      idmaquina: "",
      nombremaquina: "",
      maquinas: [],
      verMaquinas: 0,
      showbuscarmaquinatooltip: false,
      //variables de areas
      idarea: "",
      nombrearea: "",
      //variables de anomalias
      buscaranomalia: "",
      idanomalia: "",
      nombreanomalia: "",
      anomaliasdata: [],
      verAnomalias: 0,
      //variables de registro sucesos
      buscarsuceso: "",
      bucararea: "",
      idsuceso: "",
      nombresuceso: "",
      sucesosdata: [],
      verSucesos: 0,

      id: "",
      idproveedor: "",
      areas: [],

      idusuariotarjeta: "",
      tarjetanombre: "",
      tarjetafecha: "",
      tarjetapasoma: -1,
      tarjetacriticidad: "",
      tarjetaturno: "",
      tarjtadecripcion: "",
      tarjetasol_implementada: "",
      tarjetaidtecnico: 2,
      tarjetaconfirmacion_tec: false,
      tarjetaidsupervisor: 2,
      tarjetaconfirmacion_super: false,
      tarjetaobservaciones: "",
      tarjetaprog: false,
      tarjetaeliminado: false,
      tarjetadescripcion: "",
      tarjetaidtarjeta: 2,
      //auxiliadres
      loading: false,
      loadingImg: false,
      verMenuTarjetas: true,
      verListaTarjetas: true,
      botonlista: false,
      dialogiamgen: false,
      detalles: [],
      dialogCargaImagen: false,
      infoload: "carga de imagen en",
      idfoto: "",
      accionTarjeta: true,
      idregistroanomalia: "",
      verAreas: false,
      buscarareas: "",
      solucionTarjeta: "",
      usuariotecnico: "",
      fecharesuelto: "",
      controlFoto: true,
      imageUrlSolucion: "",
      verImgCarga: false,
      idfotoSolucion: "",

      src: "null",

      //Confimacion
      solucionimplentada: "",

      verNuevo: 0,
      errorArticulo: null,

      cabeceraMaquinas: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Maquina", value: "nombre", sortable: false },
        { text: "Area", value: "area", sortable: false }
      ],
      cabeceraAnomalias: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre", sortable: false },
        { text: "Descripcion", value: "descripcion", sortable: false }
      ],
      cabeceraSuceso: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre" }
      ],
      articulos: [],
      texto: "",
      valida: 0,
      validaMensaje: [],
      validaImg: 0,
      validaMensajeImg: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: "",
      tipoLiderSupervisorProduccion: "nada",
      imageUrlMain: ""
    };
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    }
  },
  created() {
    this.dataControLiderSuperProduccion();
    this.listarsinfoto(2);

  },
  methods: {
     dataControLiderSuperProduccion() {
      var tam = this.$store.state.usuario.rol.length;

      for (var i = 0; i < tam; i++) {
        if (this.$store.state.usuario.rol[i] === "OPERADOR")
          this.tipoLiderSupervisorProduccion = "OPERADOR";
        else if (this.$store.state.usuario.rol[i] === "ADMINISTRADOR WCM") {
          this.tipoLiderSupervisorProduccion = "ADMINISTRADOR WCM";
        } else if (this.$store.state.usuario.rol[i] === "TECNICO") {
          this.tipoLiderSupervisorProduccion = "TECNICO";
        } else if (
          this.$store.state.usuario.rol[i] === "SUPERVISOR PRODUCCION"
        ) {
          this.tipoLiderSupervisorProduccion = "SUPERVISOR PRODUCCION";
        } else if (
          this.$store.state.usuario.rol[i] === "SUPERVISOR MANTENIMIENTO"
        ) {
          this.tipoLiderSupervisorProduccion = "SUPERVISOR MANTENIMIENTO";
        } else if (this.$store.state.usuario.rol[i] === "LIDER") {
          this.tipoLiderSupervisorProduccion = "LIDER";
        }
      }
    },

    listarsinfoto(idtarjeta) {
      let me = this;
      var bandera1;
    
      console.log("areasdatos:" , me.$store.state.usuario.arrayArea);
      console.log("ROL:" , me.tipoLiderSupervisorProduccion);
      this.ControlImagenCargaLoad("Cargando datos espere........", true);
      axios
        .get(
          //api/RegistrosAnomalias/ListarTipoTarjetaRecibir/1/4"
          "api/RegistrosAnomalias/ListarTipoTarjetaRecibirRoles/" +
            2 +
            "/" +
            me.tipoLiderSupervisorProduccion +
            "/" +
            me.$store.state.usuario.arrayArea
        )
        .then(function(response) {
          //console.log(response);
          me.itemsdata = response.data;
           console.log("datos array: ",me.itemsdata)
          if(me.itemsdata!=""){
          
            me.msgNotificacion("Información","datos cargados",'success');
          }else{
             me.msgNotificacion("Información","ningun registro en la base de datos",'success');
          }
          me.verListaTarjetas = true;
          me.ControlImagenCargaLoad("...", 0);
        })
        .catch(function(error) {
           console.log(error);
          //catch the error, check it has a response object with lodash 
            if(error, 'response') {
              console.log("entro a los errroes");
              //console.log(error);
              if (error.message === "Network Error"){

                //me.errorMsg("El servidor se encuentra suspendido...")
                me.msgNotificacion("Información","Servidor suspendido",'error')
                /*server is down*/}  

              if(error.response.status==500)
              {
                 me.msgNotificacion("Información","Ocurrio un error de conexión a Internet o la red...",'error')
               // me.errorMsg(" Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet..")
              }
              //console.log(error.response.data);
          } 
          else {
              console.log("Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet o la red");
              console.log("error response property is undefined")
          }
          
          
          
        })
        .finally(()=> me.ControlImagenCargaLoad("..", 0));
    },
  
    mostrarNuevo(nrotarjeta) {
      this.verNuevo = 1;
      this.idtarjeta = nrotarjeta;
      this.verMenuTarjetas = false;
      this.accionTarjeta = true;

      this.verListaTarjetas = false;
    },
    ocultarDetalle() {
      this.dialog = false;
    },

    OculatarImagen() {
      this.dialogiamgen = false;
      //this.datasrc = [];
      this.imageUrl = "";
      this.imageUrlSolucion = "";
    },

    VerfotoAmbos(item) {
      this.dialogiamgen = true;
      this.listarfotoSolucion(item.idregistroanomalia);
      this.listarfoto(item.idregistroanomalia);
      this.controlFoto = false;
      //this.editedIndex=1;
      //this.dialog = true
    },
    ControlImagenCargaLoad(texto, acccion) {
      this.dialogCargaImagen = acccion;
      this.infoload = texto;
    },
    listarfoto(id) {
      let me = this;
      this.ControlImagenCargaLoad("Cargando imagen espere........", true);
      this.idregistroanomalia = id;
      axios
        .get("api/DetalleFotoAnomalias/VerFotoIngreso/" + me.idregistroanomalia)
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          me.imageUrl = me.datasrc[0].foto_anomalia;
          me.idfoto = me.datasrc[0].idfoto;
          me.ControlImagenCargaLoad("texto", 0);
          me.validarFoto();
          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto", 0);
        });
    },
    listarfotoSolucion(id) {
      let me = this;
      this.ControlImagenCargaLoad("Cargando imagen espere........", true);
      this.idregistroanomalia = id;
      axios
        .get(
          "api/DetalleFotoAnomalias/VerFotoSolucion/" + me.idregistroanomalia
        )
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          me.imageUrlSolucion = me.datasrc[0].foto_anomalia;
          me.idfotoSolucion = me.datasrc[0].idfoto;
          me.ControlImagenCargaLoad("texto", 0);
          me.validarFoto();
          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto", 0);
        });
    },
    openCodigoGuardarTarjeta(codigo) {
      this.$alert(
        "Se realizo la recepción con exito!",
        "CODIGO " + codigo,
        {
          confirmButtonText: "Cerrar"
        }
      );
    },

    errorMsg(texto) {
      this.$alert(
        texto,
        "Notificación",
        {
          confirmButtonText: "Cerrar"
        }
      );
    },
   
    close() {
      this.dialogconfirmar = false;
      this.snackbar = true;
      this.textsnackbar = "Operacion exitosa";
    },
    limpiar() {
      this.tarjetanombre = "";
      this.tarjetapasoma = -1;
      (this.tarjetacriticidad = ""), (this.idarea = ""), (this.nombrearea = "");
      this.idmaquina = "";
      this.nombremaquina = "";
      this.idanomalia = "";
      this.nombreanomalia = "";
      this.idsuceso = "";
      this.nombresuceso = "";
      this.tarjetadescripcion = "";
      this.solucionimplentada = "";
      this.idregistroanomalia = "";
    },

    abrirventanaconfirmar() {
      this.confirmar = true;
    },

    editItemConfirmar(item) {
      this.idanomalia = item.idregistroanomalia;
      //this.editedIndex=1;
      this.codigo = item.codigo;
      this.dialogconfirmar = true;
    },
    
    //METODOS DE MAQUINAS
 
    ///  FIN DE METODOS SUCESOS
  
    confirmarStadoSupervisor() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/ConfirmarRecepcion", {
          idregistroanomalia: me.idanomalia,
          idsupervisor: me.$store.state.usuario.idusuario,
          // idsupervisor: 2,
          observaciones: me.tarjetaobservaciones
        })
        .then(function(response) {
          me.close();
          me.openCodigoGuardarTarjeta(response.data);
          me.listarsinfoto(2);
          me.limpiar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    //METODO GUARDAR IMAGEN SOLUCION
   

    //METODO EDICION DE DATOS
   
    /// METODO SNACBAR
    mostrarSnacbar(texto, colorparam) {
      this.verSucesos = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = texto;
      this.color = colorparam;
    },

    validarFoto() {
      this.validaImg = 0;
      this.validaMensajeImg = [];
      if (!this.imageUrl) {
        this.validaMensajeImg.push("Seleccioné una Imagen....");
      }
    },
    onPickFile() {
      this.$refs.image.click();
    },

    onFilePicked(event) {
      var bandera = "";

      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      const files = event.target.files || event.dataTransfer.files;
      let me = this;

      if (files && files[0]) {
        let filename = files[0].name;

        if (filename && filename.lastIndexOf(".") <= 0) {
          return; //return alert('Please add a valid image!')
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.imageUrlSolucion = fileReader.result;
          this.imageUrlMain = fileReader.result;

          bandera = fileReader.result;
        });
        fileReader.readAsDataURL(files[0]);
        //console.log(fileReader)

        this.$emit("input", files[0]);
      }
    },

    removeFile() {
      this.imageUrlMain = "";
    },
     editarImagen() {
      if (this.validarFoto()) {
        return;
      }
      this.loadingImg = true;
      let me = this;

      axios
        .put("api/DetalleFotoAnomalias/ActualizarFotoSolucion", {
          idfoto: me.idfotoSolucion,
          foto_anomalia: me.imageUrlSolucion
        })
        .then(function(response) {
          me.loadingImg = false;
          //me.close();
          // me.listar();
          // me.limpiar();
          me.dialogiamgen = true;
          me.CambiarImagenDespues = false;
          me.dialogCargaImagen = false;
          me.imageUrlMain="";

          //me.OculatarImagen();
        })
        .catch(function(error) {
          console.log(error);
          me.loadingImg = false;
        });
    },
    msgNotificacion(titulo,mensaje,tipo) {
        this.$notify({
          title: titulo,
          message: mensaje,
          type: tipo
        });
    },

  }
};
</script>s
<style scoped>
input[type="file"] {
  position: absolute;
  left: -99999px;
}
</style>