<template>
  <v-container fluid grid-list-sm>
    <v-data-iterator
      :items="itemsdata"
      :search="search"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      content-tag="v-layout"
      row
      wrap
    >
      <template v-slot:item>
        <v-flex xs12 sm12 md6 lg6 xl6>
          <v-hover>
            <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">
              <v-layout pa-2 mb-1 justify-center align-center wrap>
                <v-flex xs12>
                  <div
                    class="title-1 pa-1 red text-md-center font-weight-light white--text"
                  >CUMPLIMIENTO DE ATENCION DE TARJETAS {{titulo}}</div>
                </v-flex>
                <v-layout row>
                  <v-flex xs3 dark color="green darken-3">
                    <v-card>
                      <div
                        class="title-1 blue text-md-center font-weight-light white--text"
                      >Responsables</div>
                      <v-img
                        :src="require('../../../assets/avatar.jpg')"
                        height="110"
                        aspect-ratio="1"
                      ></v-img>
                      <div
                        class="title-1 text-md-center font-weight-dark white--black"
                      >Alberto Lujan</div>
                    </v-card>
                  </v-flex>
                  <v-flex xs9>
                    <v-card dark color="green darken-1">
                      <template>
                        <el-table
                          :data="itemsdata"
                          show-summary
                          sum-text="Total"
                          style="width: 100%"
                          :header-cell-style="tableHeaderColor"
                          size="mini"
                          stripe
                          :cell-style="{padding: '0', height: '20px'}"
                        >
                          <el-table-column prop="planta" label="SECTORES" header-cell-style="ok"></el-table-column>
                          <el-table-column width="50" prop="ok" label="OK"></el-table-column>
                          <el-table-column width="84" prop="ejecucion" label="EJECUCION"></el-table-column>
                          <el-table-column width="88" prop="retrasada" label="RETRASADA"></el-table-column>
                        </el-table>
                      </template>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-layout>

              <v-flex sx12>
                <v-card class=" mt-2">
                  <v-flex xs12 class="ml-3 mr-3">
                    <div
                      class="title-1  text-md-center font-weight-dark black--text"
                    >CUMPLIMIENTO DE ATENCION DE TARJETAS</div>
                  </v-flex>
                  <v-card-text>
                    <apexchart
                      type="bar"
                      ref="chartAzul"
                      height="200"
                      :options="chartOptionsAzul"
                      :series="seriesAzul"
                    ></apexchart>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-card>
          </v-hover>
        </v-flex>
      </template>
    </v-data-iterator>
  </v-container>
</template>
  


<script>
import axios from "axios";
import { all } from "q";
export default {
  data() {
    return {
      titulo: "algo",
      search: "",
      rowsPerPageItems: [2, 8, 12, 50],
      pagination: {
        rowsPerPage: 2
      },
      textsnackbar: "My timeout is set to 2000.",
      timeout: 2000,
      data_grafico: [123, 89, 10],
      itemsdata: [
        {
          planta: "Planta sulfuro",
          ok: 237,
          ejecucion: 20,
          retrasada: 1,
          responsable: "agapito",
          planta: "planta tratamiento",
          ok: 237,
          ejecucion: 20,
          retrasada: 1,
          responsable: "agapito",
          planta: "fundicion silicato",
          ok: 237,
          ejecucion: 20,
          retrasada: 5,
          responsable: "agapito",
          data_grafico: [123, 89, 10]
        },
        {
          planta: "Linea b-1",
          ok: 237,
          ejecucion: 20,
          retrasada: 3,
          responsable: "agapito",
          planta: "linea b-2",
          ok: 237,
          ejecucion: 20,
          retrasada: 2,
          responsable: "agapito",
          data_grafico: [456, 189, 10]
        },
        {
          planta: "planta tratamiento",
          ok: 237,
          ejecucion: 20,
          retrasada: 1,
          responsable: "agapito",
          data_grafico: [789, 389, 10]
        }
      ],
      verListaTarjetas: true,
      aqui: false,

      seriesAzul: [],
      chartOptionsAzul: {
        chart: {
          height: 350,
          type: "bar"
        },
        plotOptions: {
          bar: {
            dataLabels: {
              position: "top" // top, center, bottom
            }
          }
        },
        dataLabels: {
          enabled: true,
          formatter: function(val) {
            return val + " ";
          },
          offsetY: -10,
          style: {
            fontSize: "12px",
            colors: ["#304758"]
          }
        },

        xaxis: {
          categories: ["ok", "ejecutada", "retrasada"],
          position: "bottom",
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            fill: {
              type: "gradient",
              gradient: {
                colorFrom: "#D8E3F0",
                colorTo: "#BED1E6",
                stops: [0, 100],
                opacityFrom: 0.4,
                opacityTo: 0.5
              }
            }
          },
          tooltip: {
            enabled: true
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          labels: {
            show: false,
            formatter: function(val) {
              return val + "%";
            }
          }
        },
        title: {
          text: "Monthly Inflation in Argentina, 2002",
          floating: true,
          offsetY: 330,
          align: "center",
          style: {
            color: "#444"
          }
        }
      },
      wcmAzul: []
    };
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    }
  },
  created() {
    this.wcmAzulData();
  },
  methods: {
    wcmAzulData() {
      this.wcmAzul.push({
        name: "Inflation",
        data: this.data_grafico
      });
      this.seriesAzul = this.wcmAzul;
    },
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      //var cant = row.length()
      if (rowIndex === 0 && columnIndex === 0) {
        return "background-color: #1306c5;color: white;font-weight: 500;";
        azul;
      }
      if (rowIndex === 0 && columnIndex === 1) {
        return "background-color: #A3E4D7;color: green;font-weight: 500;";
        verde;
      }
      if (rowIndex === 0 && columnIndex === 2) {
        return "background-color: #F9E79F;color: #EB984E;font-weight: 500;";
        amarillo;
      }
      if (rowIndex === 0 && columnIndex === 3) {
        return "background-color: #FFB6C1;color: red;font-weight: 500;";
        rojo;
      }
      if (columnIndex === 0) {
        return "background-color: #F0F3F4;color: black;font-weight: 500;";
      }
    }
  }
};
</script>
<style>
.el-table .suma {
  background: #06bfc5;
}
.el-table .sectores {
  background: #1306c5;
}
.el-table .ok {
  background: #06c50f;
}
.el-table .ejecucion {
  background: #d8d507;
}
.el-table .retrasada {
  background: #e91010;
}
</style>>