
<template>
  <v-container fluid grid-list-md pa-4 >
    <v-layout align-start row wrap mt-5 class="justify-center">
      <v-flex xs12 md8>  
        <v-layout row wrap>          
        <v-flex d-flex xs12 >
            <v-layout row wrap>
                <v-flex d-flex xs3>
                    <v-card :to="{name:'tarjetas'}" elevation="1" height="200" class="blue darken-3 white--text" align="center">
                            <v-card-text >TARJETAS</v-card-text>
                            <v-icon size="100" dark>credit_card</v-icon>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3>
                    <v-card elevation="1" height="200" class="blue darken-3 white--text" align="center">
                            <v-card-text>PAMCO</v-card-text>
                            <v-icon size="100" dark>chrome_reader_mode</v-icon>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3>
                    <v-card elevation="1" height="200" class="blue darken-3 white--text" align="center">
                            <v-card-text>EWO</v-card-text>
                            <v-icon size="100" dark>how_to_reg</v-icon>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3>
                    <v-card elevation="1" height="200" class="blue darken-3 white--text" align="center">
                            <v-card-text>PIRAMIDES</v-card-text>
                            <v-icon size="100" dark>eject</v-icon>
                    </v-card>
                </v-flex>
                 
            </v-layout>
            
        </v-flex>
        <v-flex d-flex xs12>
            <v-layout row wrap>
                <v-flex d-flex xs3>
                    <v-card elevation="1" height="200" class="blue darken-3 white--text" align="center">
                            <v-card-text>PLAN DE ACCION</v-card-text>
                            <v-icon size="100" dark>airplay</v-icon>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3>
                    <v-card elevation="1" height="200" class="blue darken-3 white--text" align="center">
                            <v-card-text>INGENIERIA</v-card-text>
                            <v-icon size="100" dark>build</v-icon>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3>
                    <v-card elevation="1" height="200" class="blue darken-3 white--text" align="center">
                            <v-card-text>PRODUCCION</v-card-text>
                            <v-icon size="100" dark>shopping_basket</v-icon>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3>
                    <v-card elevation="1" height="200" class="blue darken-3 white--text" align="center">
                            <v-card-text>PIRAMIDES</v-card-text>
                            <v-icon size="100" dark>credit_card</v-icon>
                    </v-card>
                </v-flex>
                 
            </v-layout>
            
        </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return{
                nameRules: [
                    v => !!v || 'Name is required',
                    v => v.length <= 15 || 'Name must be less than 10 characters'
                ],
            }   
        }
    }
</script>